.main__illustrations {
    height: 6.5rem;
    width: 100%;
    
    &-shadow {
        background: url(../images/bg-pattern-mobile.svg) no-repeat;
        height: 6.5rem;
        width: 15rem;
        margin: 0 auto;
    }

    &-woman {
        background: url(../images/illustration-woman-online-mobile.svg) no-repeat;
        height: 11.375rem;
        width: 15rem;
        margin: 0 auto;
        position: relative;
        left: 0;
        bottom: 200%;
    }
}